
/* ####### LOGIN  ########*/

// .login-main {
//   // background: url("../imgs/login.jpg") center;
//   // background-size: cover;
//   // height: 100%;
//   // margin: 
// }

.login2{
  background: rgba(white, 0.3);
  border-radius: 1%;
  margin: 2em 0 4em 0;
  font-family: $login-fonts;
  color: rgb(255, 45, 133);
}

.login-box {
  background: rgba(3, 4, 4, 0.7);
}

.food-image {
  background: url("../imgs/food3.jpg") center;
  background-size: cover;
}

.login-square {
  padding: 0;
}